
<%= link_to "Back to all users", admin_users_path %><br/>
<h2> User Account </h2>
<h3><%= current_user.full_name %></h3>
<h5><%= current_user.email %></h5>
<h5><%= current_user.created_at %></h5>
<h5><%= current_user.updated_at %></h5>
